/*Header styling!!*/
.inline-block{
    display:inline-block;
    vertical-align:top;
    font-family:"Bebas Neue", sans-serif;
    font-size:larger;
    text-align:right;
    /*line-height:10px;*/
}
li.navLink{
    font-family:"Bebas Neue", sans-serif;
    font-size:larger;
    color:#c7d3bf;
    margin-right:20px;
}
li a{
    font-family:"Bebas Neue", sans-serif;
    font-size:larger;
    color:#c7d3bf;
    margin-right:20px;
    text-decoration: none;
}
li a.current{
    background:#F4F7F3;
    color:#8b635c;
}
li a:hover{
    background:#F4F7F3;
    color:#c49682;
    /*padding:10px;*/ /*This makes the menu kind of jump around on hover*/
    
}
    

/*Okay, so these links don't actualy exist yet, but I'll be ready for them!!
a.navLink:visited{
    font-family:"Bebas Neue", sans-serif;
    font-size:larger;
    color:#c7d3bf;
}
a.navLink:active{
    font-family:"Bebas Neue", sans-serif;
    font-size:larger;
    color:#8b635c;
}
*/
div.logo{
    width:73%;
    padding:1%;
    text-align:right;
}
div.skills{
    background-color:#F4F7F3;
    padding:5px;
}
nav{
    width:80%;
    padding:1%;
}
ul{
    width:100%;
    margin-left:auto;
}
.logo{
    text-align: center;
}
/*Styling the sections/main body here!*/
a{
    font-family:"Montserrat",sans-serif;
    font-weight:bold;
    color:#8b635c;
    text-decoration:none;
    font-weight:bolder;
    font-size:larger;
}
a:visited{
    font-family:"Montserrat",sans-serif;
    font-weight:bold;
    color:#c49682;
    text-decoration:none;
    font-weight:bolder;
    font-size:larger;
}
section.heroImg{
    /*This height bit is really wreaking havoc with the layout! 
    height:500px;
    */
    padding:100px;
}
.content{
    width:80%;
    max-width: 1000px;
    margin:25px auto;
}
.content img{
    float:left;
    padding:10px;
}
h1{
    font-family:"Bebas Neue",serif;
    font-size:64px;
    color:#8b635c;
    margin:10px 0px
}

h2{
    font-family:"Bebas Neue",serif;
    font-size:40px;
    color:#c49682;
    margin:0px 0px
}
p{
    font-family:"Montserrat",sans-serif;
}
button{
    background-color: #c49682;
    border:none;
    color:#ffffff;
    font-family:"Bebas Neue", sans-serif;
    font-size:32px;
    text-align:center;
    padding:6px 12px;
    border-radius:8px;
    margin:40px 0px 20px 0px;
}
/*Here's the flex container for the My Skills section*/

div.flexContainer{
    display:flex;
    flex-wrap:wrap;
}
div.skills{
    width:30%;
    text-align: center;
    margin:1%;
    /*border-radius: 5px;*/ /*This made the corners rounded, which I kind of like, 
    but it doesn't really match the images, just the buttons; 
    need to think about this more later;*/
}
p.skills{
    margin-top:0;
}

/*Here's the bit for the Featured Work section starring CSS Grid*/
div..workGrid{
    display:grid;
}

/*Styling the footer here!*/
footer{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color:#F4F7F3;
    vertical-align: bottom;
    text-align:center;
}
footer a:link{
    color:#8b635c;
    font-weight:bolder;
    text-decoration: none;
    font-family:"Montserrat",sans-serif;
    font-size:larger;
}
footer a:hover{
    color:#c7d3bf;
    font-weight:bolder;
    text-decoration: none;
    font-family:"Montserrat",sans-serif;
    font-size:larger;
}

footer{
    text-align:left;
    padding:1%;
}
